@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0f0f0f] text-white font-sans antialiased;
  scroll-behavior: smooth;
  line-height: 1.6;
}

* {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #7e22ce;
  border-radius: 10px;
}
